*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: monospace;  
}
.logo img{
    max-width: 200px;
    cursor: pointer;
    position: fixed;
}
/* .navbar{
    width: 1500px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
} */
/* .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20;
    position: relative;
} */
/* .navbar ul li a{
    text-decoration: none;
    color: rgb(2, 5, 8);
    text-transform: uppercase;
    
} */
/* .navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    bottom: -10px;
    transform: scale(); */

/* .navbar ul li a:hover{
    color: rgb(17, 136, 96);
}


/* .navbar ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(162, 170, 177);
} */
/* 
.dropdownn ul li{
    width: 150px;
    padding: 10px;
}
.ri-arrow-down-s-fill{
       float:center;
       margin-left: 10px;
       padding-top:3px;


} */
 .navbar{
    background-color: white;
    text-align: center;
    
 }
.navbar ul{
    display: flex;
    list-style: none;
   
    justify-content: center;
}
li{
    margin-top: 2rem;
}

li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(1, 19, 19);
    transition: all 0.5s ease 0s;
}

li a:hover{
    color:rgb(43, 90, 68);
    font-size: 20px;
}
.navbar ul li{
    width:120px;
    text-align: center;
    padding:15px;
}
.dropdown{
    display: none;
}