
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Lato", sans-serif;
}
nav img{
    width: 170px;
    margin-left: 200px;
    position: absolute;
    top: 15px;
    left: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}
.navlinks{
    flex: 1;
    text-align: center;
    
}
.navlinks ul li{
    display: inline-block;
    list-style: none;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-top: 20px;
    position: relative;
    transition:.5s;
    

}
.navlinks ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 520;
    transition: .5s;
   

}
.navlinks ul li a:hover{
    color: rgb(12, 109, 88);
}

.dropdown{
  display: none;
  
  
}
.navlinks ul li:hover .dropdown{
    display: block;
    position: absolute;
    background:#fff;
    margin-top: 25px;
    margin-left: -15px;
    box-shadow:0 10px 20px 3px #5e616114 ;
}
.navlinks ul li:hover .dropdown ul{
    display: block;
   margin: 0 5px 10px 5px;
    border-top: 3px solid rgb(10, 161, 129);
}
.navlinks ul li:hover .dropdown ul li{
    width: 150px;
   padding-bottom:1px;
   padding-right: 20px;
   padding-left: 0;
    text-align: left;
    background: transparent;
    border-radius: 0;
   
}
.navlinks ul li:hover .dropdown ul li a{
    color: #555;
    padding-right:30px ;
    transition: .5s;
    
}
.navlinks ul li:hover .dropdown ul li a:hover{
    color: rgb(12, 109, 88);
    font-size:20px ;
}
.active{
    position: relative;
 }
 .active::after{
     content: '';
     background:rgb(10, 161, 129);
     width: 80px;
     height: 2px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -12px;
     border-radius: 2px;
 }
 .dropdown_login{
    display: none;
    
    
  }
  .hover_me:hover .dropdown_login{
      display: block;
      position: absolute;
      background:#fff;
      margin-top: -20px;
      margin-left: 100px;
      box-shadow:0 10px 20px 3px #5e616114 ;
  }
  .header-right{
    position: absolute;
    right: 300px;
  }
 
  .header-right a{
    text-decoration: none;
    background:rgb(12, 109, 88) ;
    color: #fff;
    border-radius: 30px 30px ;
    padding: 15px;
    transition: .5s;
    font-weight: bold;

  }
  .header-right a:hover{
    color: rgb(12, 109, 88);
    background: #fff;
    border: 1px solid rgb(12, 109, 88);
  }
  .ri-search-line{
    padding: 15px;
    border-radius: 50%;
   background:rgb(12, 109, 88) ;
   color: #fff;
   font-size: 25px;
   transition: .5s;
  }
  .header-right i:hover{
    color: rgb(12, 109, 88);
    background: #fff;
    border: 1px solid rgb(12, 109, 88);
  }
  .title{
    width: 100%;
    padding: 70px 0;
  }
  .title-img{
    display: flex;
    align-items: center;
    margin: 20px 0;
   
  }
  .title-img img{
    width: 500px;
    height: 500px;
    margin-left: 65rem;
    border-radius: 25% 2% 30% 2%;
  }
 .title-number{
    display: flex;
    flex-direction: column;
   
  }
  .title-numbers{
    margin: 40px;
    margin-left: 50px;
    
  }
  .title-numbers h1{
    font-size: 50px;
    font-weight: 600;
  }
  .title-numbers p{
    color: #555;
  }
  .title-text{
     margin-top: -450px;
     margin-left: 300px;
     
  }
  .title-text h4{
    color: rgb(12, 109, 88);
    font-size: 20px;
  }
  .title-text h1{
    font-weight: 600;
    font-size: 70px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .title-text p{
    color: #555;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
  }
  .title-buttons{
    display: flex;
    align-items: center;
    
  }
  .title-buttons .donate{
    text-decoration: none;
    padding: 15px 40px;
    color: #fff;
    background:rgb(12, 109, 88) ;
    border-radius: 30px;
    border: rgb(12, 109, 88) 1px solid;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
  }
  .title-buttons .join{
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    background:#000 ;
    border-radius: 30px;
    border: #000 1px solid;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .title-buttons .donate:hover{
    border: rgb(12, 109, 88) 1px solid;
    background: #fff;
    color:rgb(12, 109, 88) ;
  } 
  .title-buttons .join:hover{
    border: #000 1px solid;
    background: #fff;
    color:#000 ;
    transition: .5s;
  } 
.information{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-table{
  box-shadow:0 10px 20px 3px #5e616114 ;
  width: 300px;
  height: 250px;
  flex-basis: 15%;
  flex-wrap: wrap;
  margin: 30px 20px;
  border-radius: 10px;
  transition: .5s;
}
.information-text{
  margin: 20px;
}

.information-text i{
  color: #fff;
  background: rgb(12, 109, 88);
  font-size: 40px;
  border-radius: 50%;
  padding: 10px;
}
.information-text h2{
 padding-top: 20px;
 text-align: left;


}
.information-text p{
 padding-top: 10px;
 text-align: left;
color: #555;

}
.information-table:hover{
      background: rgb(12, 109, 88);
      color: #fff;
}
.information-table:hover .information-text i{
  background: #fff;
      color:rgb(12, 109, 88);
}
.information-table:hover .information-text p{
  color: rgb(203, 214, 214);
}














